<!DOCTYPE html>

<html lang='en'>

<head>
    <%- include ./partials/_header.ejs %>
    <script type="text/javascript" src="/scripts/drag-and-drop.js"></script>
</head>

<body>
    <div class='center' style='justify-content: center'>
        <h1 class='heading bottom-big-margin'>Answer the poll</h1>
        <h2 class='heading-2 bottom-big-margin'>What is the poll's name?</h2>
        <div>
            <button class='button blue-container bottom-small-margin'>
                <div class="button-body">
                    Option 1
                    <div class='subtitle'>
                        (The original pizzeria of Montreal, opened in 1946.)
                    </div>
                </div>
            </button>
            <button class='button blue-container bottom-small-margin'>
                <div class="button-body">
                    Option 2
                    <div class='subtitle'>
                        (The original pizzeria of Montreal, opened in 1946.)
                    </div>
                </div>
            </button>
            <button class='button blue-container bottom-small-margin'>
                <div class="button-body">
                    Option 3
                    <div class='subtitle'>
                        (The original pizzeria of Montreal, opened in 1946.)
                    </div>
                </div>
            </button>
            <button class='button blue-container bottom-small-margin'>
                <div class="button-body">
                    Option 4
                    <div class='subtitle'>
                        (The original pizzeria of Montreal, opened in 1946.)
                    </div>
                </div>
            </button>
        </div>
    </div>
</body>

</html>