<!DOCTYPE html>

<html lang='en'>

<head>
    <%- include ./partials/_header.ejs %>
</head>

<body>
    <div class='center' style='justify-content: center'>
        <h1 class='heading bottom-big-margin'>Thank you.</h1>
        <h2 class='heading-2'>Your answers have been recorded.</h2>
    </div>
</body>

</html>