<!DOCTYPE html>

<html lang='en'>

<head>
    <%- include ./partials/_header.ejs %>
    <link rel="stylesheet" href="/styles/step-1.css" type="text/css"/>
</head>

<body class='center'>
    <button class='button-container'>
        <div class='button-body'>
            <div>+ Create a new option</div>
        </div>
    </button>

    <form method='POST' action='/createpoll/step/2'>
        <input type='text' name='optionName' placeholder='Ex: Tuesday @12pm'/>
        <input type='text' name='optionDescription' placeholder='Description (optional, ex: Predicted to be sunny this day.)'/>
        <button>Add option</button>
    </form>

    <section class='option-container'>
        <!-- this is where I will append the options but it needs a post method to delete it as well -->
        <!-- hard code some stuff in here to visulize -->
    </section>

    <!-- add the specific id of the poll to the link fetched form the db -->
    <form method='POST' action='/createpoll/complete'>
        <input type='submit' value='Done'/>
    </form>
</body>
</html>