<!DOCTYPE html>
<html lang='en'>
<head>
    <%- include ./partials/_header.ejs %>
</head>
<body>
    <div class='container'>
        <div class='welcome-content'>
            <h1>Hello.</h1>
            <h2>Welcome to Decision Maker!</h2>
            <h3>
                Create a poll, share it with your friends, rank your choices
                and let Decision Maker help you make your decision*.
                It's quick, easy and efficient!
            </h3>
            <p>
                *Decisions are ranked based on the Borda count method.
            </p>
            <a href="/createpoll/step/1">Create a poll</a>
        </div>
    </div>
</body>    
</html>