<!DOCTYPE html>

<html lang='en'>

<head>
    <%- include ./partials/_header.ejs %>
    <script type="text/javascript" src="/scripts/toggle.js"></script>
    <script type="text/javascript" src="/scripts/step-2.js"></script>
</head>

<body class='center'>
    <h1>Add your options</h1>
    <button id='add-option' class='button grey-container bottom-small-margin'>
        <div class='button-body'>
            + Create a new option
        </div>
    </button>
    <div id='options-container'></div>
    <form class='form-container option-form-container' style='display:none' method="POST" action='/createpoll/step/2'>
        <div class='form-section'>
            <div class='form-input-title'>Option*</div>
            <input class='form-input' type='text' name='answer' required/>
        </div>
        <div class='form-section'>
                <div class='form-input-title'>Description</div>
                <textarea class= 'form-description form-input' type='text' rows='5' name='description'></textarea>
        </div>
        <input class='submit' type='submit' value='Done'/>
    </form>
    <form>
        <input id='submit-poll' class='submit' type='submit' value='Submit poll'/>
    </form>
    <div class='subtitle'>Please make sure all your information is correct. You will not be able to modify your poll once it has been submitted.</div>  
</div>
</body>