<!DOCTYPE html>

<html lang='en'>

<head>
    <%- include ./partials/_header.ejs %>
    <link rel="stylesheet" href="/styles/form.css" type="text/css"/>
</head>

<body>
    <div class='center'>
        <h1>Create a poll</h1>
        <form class='form-container' method="POST" action='/createpoll/step/1'>
            <div class='form-section'>
                <div class='form-input-title'>Your e-mail*</div>
                <input class='form-input' type='email' name='email' required/>
            </div>
            <div class='form-section'>
                <div class='form-input-title'>Your name*</div>
                <input class='form-input' type='text' name='ownerName' required/>
            </div>
            <div class='form-section'>
                    <div class='form-input-title'>Poll name*</div>
                    <input class='form-input' type='text' name='pollName' placeholder='Ex: When are you free?' required/>
            </div>
            <div class='form-section'>
                    <div class='form-input-title'>Description</div>
                    <textarea class='form-description form-input' type='text' rows='5' name='description'></textarea>
            </div>
            <input class='submit' type='submit' value='Next'/>
        </form>
    </div>
</body>

</html>