<!DOCTYPE html>

<html lang='en'>

<head>
    <%- include ./partials/_header.ejs %>
    <link rel="stylesheet" href="/styles/graph.css" type="text/css"/>
</head>

<body>
    <div class='center' style='justify-content: center'>
        <h1 class='heading bottom-big-margin'>View poll results</h1>
        <h2 class='heading-2 bottom-big-margin'>What is the poll's name?</h2>
        <dl>
            <dd class="percentage percentage-25"><span class="text">Pizza Napoletena </span></dd>
            <dd class="percentage percentage-60"><span class="text">Kantapia</span></dd>
            <dd class="percentage percentage-15"><span class="text">NegaSake</span></dd>
        </dl>
    </div>
</body>

</html>