<!DOCTYPE html>

<html lang='en'>

<head>
    <%- include ./partials/_header.ejs %>
    <link rel="stylesheet" href="/styles/graph.css" type="text/css"/>
</head>

<body>
    <div class='center' style='justify-content: center'>
        <h1 class='heading bottom-big-margin'>View poll results</h1>
        <h2 class='heading-2 bottom-big-margin'><%= poll[0].name %></h2>
        <dl>
            <% for (let elem of results) { %>
                <dd class="percentage percentage-<%= elem.score %>"><span class="text"><%= elem.name + ' (' + elem.score + ')'%></span></dd>
            <% } %>
        </dl>
    </div>
</body>

</html>