.button {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    border-radius: $primary-radius;    
    border-width: 0px;
}

.button.small-button {
    font-size: 0.9em;
    width: 75px;
}

.button-body {
    color: $white;
    font-weight: 300;
    font-size: 0.9em;
    text-decoration: none;
}

.bold {
    font-weight: 550 !important;
}

.grey-container {
    background-color: $grey;
    width: 575px;
    opacity: 0.8;
}

.blue-container {
    background-color: $blue;
    width: 505px; 
}

.short {
    width: 505px;
}

.display-row-option {
    display: flex;
    flex-direction: row;
}

.delete {
    background-color: $red;
}

.copy {
    background-color: $pink;
}

.submit {
    height: 35px;
    background-color: $grey;
    width: 86px;
    font-size: 0.9em;
    border-radius: $tertiary-radius;    
    border-width: 0px;
    color: $white;
}

