.form-container {
    background-image: $linear-gradient;
    height: 430px;
    width: 575px;
    border-radius: $primary-radius;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form-section {
    width: 100%;
}

.form-input-title {
    margin-left: 50px;
    font-size: 0.9em;
    font-weight: 200;
}

.form-input {
    margin-left: 45px;
    width: 85%;
    height: 30px;
    font-size: 0.8em;
    border-radius: $tertiary-radius;
    color: $dark-grey;
}

.form-description {
    height: 85px;
    border-width: 1px;
    border-color: $grey;
}

.option-form-container {
    height: 300px;
}

input:invalid {
    border: 1px solid $red;
}