.form-container {
    background-image: $linear-gradient;
    height: 625px;
    width: 700px;
    border-radius: $primary-radius;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form-section {
    width: 100%;
}

.form-input-title {
    margin-left: 50px;
    font-size: 1.1em;
    font-weight: 200;
}

.form-input {
    margin-left: 50px;
    width: 85%;
    height: 40px;
    border-radius: $teriary-radius;
    color: $dark-grey;
}

.form-description {
    height: 100px;
    border: $grey;
}

input:invalid {
    border: 2px solid $red;
}