* {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BLcOqevFirn3iyc5/videoblocks-dark-blue-background-particles-loop-background_bdsmomixw_thumbnail-full01.png');
    color: $white;
}

.center {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.hidden {
    display: none;
}

.text-content{
    width: 700px;
}

h1 {
    font-weight: 100;
    margin: 0;
    font-size: 4em;
}

h2 {
    font-size: 2em;
    margin: 0;
    font-weight: 200;
}

h3 {
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 35px;
}

.subtitle {
    font-weight: 100;
    font-style: italic;
    font-size: 0.9em;
}

.bottom-small-margin {
    margin-bottom: 7px;
}

.bottom-big-margin {
    margin-bottom: 45px;
}
