* {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-image: url('https://images.alphacoders.com/147/147931.jpg');
    color: #EEE;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
