.welcome-content{
    width: 620px;
}

.hidden {
    display: none;
}

h2 {
    font-size: 2em;
    margin: 0;
    font-weight: 200;
}

h3 {
    font-weight: 600;
    margin-top: 35px;
}

p {
    margin-bottom: 45px;
}